﻿@model IEnumerable<InsuranceT.Models.policy>

@{
    ViewBag.Title = "PolicyDetails";
}

<h2>PolicyDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            CompanyName
        </th>
        <th>
            PolicyName
        </th>
        <th>
            PolicyDesc
        </th>
        <th>
            Amount
        </th>
        <th>
           EMI
        </th>
        <th>
            MedicalId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.policyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.policydesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicalid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("CompanyDeatails", "PolicyDetailsa", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
